body {
  background-image: url('../images/game-icons-background.png');
  background-repeat: repeat, repeat;
}

#gameArea {
  width: 75%;
  height: 75%;
  border: 1px solid #000000;
  background: #FFFFFF;
}

#gameWrapper {
  text-align: center;
}

#pageHeaderWrapper, #gameFooter {
  background: #f7f7f7;
  text-align: center;
}

img {
  display: none;
}

ul {
  list-style: none;
}